@use '../abstract/variaveis' as var;
@use '../abstract/mixins' as mix;
@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');

.init {
    display: flex;
}

.container1{
    display: flex;
    gap: 1em;
    flex-direction: column;
    width: 5vw;
    .navegacao{
        transform: rotate(90deg);
        .navegacao--lista{
            display: flex;
            align-items: center;
            .lista--item{
                width: 222vw;
                margin: 12px;
                .item--link{
                text-decoration: none;
                color: var.$cor-fonte-primaria;
                font-size: var.$tamanho-texto;
                text-transform: uppercase;
                &:hover{
                    color: var.$cor-destaque;
                }
                }
            }
        }
    }
}

.cabecalho {
    padding-left: 38%;
    &--title {
        font-family: 'Radley', serif;
        @include mix.estilizaTitulo(var.$cor-fonte-primaria, 1);
    }
}

/*@media screen and (max-width: 880px){
    .container1{
        max-width: 8vw;
    }
}*/

@media screen and (max-width: 900px){
    .cabecalho {
        padding-left: 32%;
        &--title {
            @include mix.estilizaTitulo(var.$cor-fonte-primaria, 1.5);
        }
    }

    .container1{
        width: 10vw;
        .navegacao{
            .navegacao--lista{
                .lista--item{
                    .item--link{
                    font-size: 26px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px){
    .cabecalho {
        padding-left: 28%;
        &--title {
            @include mix.estilizaTitulo(var.$cor-fonte-primaria, 2);
        }
    }
    .container1{
        width: 8vw;
        .navegacao{
            .navegacao--lista{
                .lista--item{
                    margin: 5px;
                    .item--link{
                        font-size:13px
                    }
                }
            }
        }
    }
}
