@use '../abstract/variaveis' as var;
@use '../abstract/mixins' as mix;
@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');

.cabecalho{
    height: 55px;
    background-color: var.$cor-input;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .navegacao{
        margin: auto;
        .navegacao--lista{
            display: flex;
            align-items: center;
            gap: 10%;
            .lista--item{
                .item--link{
                text-decoration: none;
                color: var.$cor-fonte-primaria;
                font-size: var.$tamanho-texto;
                text-transform: uppercase;
                &:hover{
                    color: var.$cor-destaque;
                }
                }
            }
        }
    }
    .cabecalho__botao{
        display: none;
    }
}

@media screen and (max-width: 900px){
    
    /*.cabecalho{
        overflow: hidden;
        .navegacao{
            .navegacao--lista{
                .lista--item{
                    .item--link{
                    font-size: var.$tamanho-item-tablet;
                    }
                }
            }
        }
    }*/
    .cabecalho{
        display: initial;
        .cabecalho__botao{
            display: initial;
            background-color: var.$cor-de-fundo;
            border: 0;
            &::after{
                content: "\2630";
                color: var.$cor-fonte-primaria;
                font-size: 40px;
            }
        }
        .navegacao{
            display: none;
        }
    }
    .cabecalho--ativo{  
        transition: all 1000ms ease;
        width: 50%;
        .navegacao{
            display: initial;
            height: 0;
            .navegacao--lista{
             flex-direction: column;
             align-items: start;
             gap: 1em;
             margin-left: 10px;
            }
        }     
    }
}

@media screen and (max-width: 480px){
    /*.header {
        display: none;
        background-color: black;
        padding-left: 28%;
        top: -50px;
        &--title {
            @include mix.estilizaTitulo(var.$cor-fonte-primaria, 2);
        }
    }*/

    .container1{
        .navegacao{
            .navegacao--lista{
                .lista--item{
                    margin: 5px;
                    .item--link{
                        font-size:var.$tamanho-item-celular;
                    }
                }
            }
        }
    }
}
