.container{
    display: flex;
    .container2{
        width: 80%;
        margin: 4em auto;
        main{
            gap: 2%;
            display: flex;
            flex-wrap: wrap;
        }
    }
}
/*@media screen and (max-width: 900px){
    .container{
        .container2{
            main{
                .container-imagem{
                    .container-imagem--descricao{
                        .descricao--texto{
                            font-size: 12px;
                        }
                        .descricao--titulo{
                            font-size: 20px;
                        }
                    }
                }
            }
    
        }
    }
}*/

@media screen and (max-width: 480px){
    .container{
        .container2{
            margin: 1em auto 2em 3em;
            main{
                flex-direction: column;
            }
        }
    }
}
