.container{
    display: flex;
    .container2{
        width: 80%;
        margin: 4em auto;
        main{
            gap: 2%;
            display: flex;
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 480px){
    .container{
        .container2{
            margin: auto;
            main{
                flex-direction: column;
            }
        }
    }
}
