@use '../abstract/variaveis' as var;
.container{
    display: flex;
    .container2{
        width: 100%;
        margin-top: 4em;
        main{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-right: 2%;
            .container-imagem{
                position: relative;
                width: 45%;
                margin-bottom:2em;
                transition: width 2s;
                animation-duration: 3s;
                animation-name: fadein;
                &:hover{
                    width: 50%;
                }
                .container-imagem--imagem{
                    /*border-top-right-radius: 5px;
                    border-top-left-radius: 5px;*/
                    border-radius: 10px;
                    width: 100%;
                    
                }
                .container-imagem--descricao{
                    position: absolute;
                    border-radius: 10px;
                    bottom: 0;
                    background-color: var.$cor-destaque-background;
                    height: 40%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    text-align: center;
                    width: 100%;
                    .descricao--texto{
                        font-weight: 400;
                        font-size: 24px;
                        color: var.$cor-fonte-primaria;
                        width: 60%;
                        margin: 0 auto;
                    }
                    .descricao--titulo{
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: var.$tamanho-texto;
                        color: var.$cor-fonte-primaria;
                    }
                }
            }
            @keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
        }

    }
}
@media screen and (max-width: 1200px){
    .container{
        .container2{
            main{
                .container-imagem{
                    .container-imagem--descricao{
                        .descricao--texto{
                            font-size: 13px;
                        }
                        .descricao--titulo{
                            font-size: 20px;
                        }
                    }
                }
            }
    
        }
    }
}
@media screen and (max-width: 520px){
    .container{
        justify-content: center;
        .container2{
            margin-top: 2em;
            main{
                flex-direction: column;
                gap: 1.5em;
                .container-imagem{
                    height: 45%;
                    margin-bottom:1em;
                    width: 90%;
                    margin-left: 3%;
                    .descricao--texto{
                        font-size: 12px;
                    }
                    .descricao--titulo{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}