@use '../abstract/variaveis' as var;
@use '../abstract/mixins' as mix;

// Home geral
#Home {
    display: flex;
    margin-left: 5vw;
}

/* --- Seção do inicio da pagina --- */
.initial_sect {
    width: 100%;
    position: relative;
    margin-bottom: 5%;
    .initial_sect--text {
        width: 40%;
        display: inline-block;
        position: absolute;
        left: 20%;
        top: 40%;
        p {
            text-align: center;
            @include mix.estilizaTexto(var.$cor-fonte-primaria, 1);
        }
    }

    .initial_sect--img {
        border-radius: 100%;
        width: 35%;
        max-width: 800px;
        background: radial-gradient(#845AE7E0 25%, #845AE79E 40%, var.$cor-de-fundo 71%);
        margin-left: 50%;
        margin-top: 5%;
    }
}

/* --- Seção de conteudo --- */
.content_sect {
    // Todas as seções de conteudo teram esse estilo
    width: 88vw;
    margin-bottom: 10%;
    margin-left: 5%;
    .content {
        display: inline-block;
        width: 50%;
        padding: 5%;
        background-color: white;
        border-radius: 30px;
        
        &--title {
            @include mix.estilizaSubTitulo(var.$cor-fonte-secundaria, 1);
        }

        &--text {
            @include mix.estilizaTexto(var.$cor-fonte-secundaria, 1);
        }
    }

    .side_bar {
        display: inline-block;
        vertical-align: top;
        width: 35%;
        margin-top: 5%;
        margin-left: 4%;

        .side_bar--title {
            @include mix.estilizaSubTitulo(var.$cor-fonte-primaria, 1)
        }

        .lista {
            list-style-type: disc;
            margin-top: 30px;
            padding-left: 10%;

            // Estiliza bolinhas
            color: var.$cor-destaque;
            font-size: var.$tamanho-texto;

            .lista--item {
                line-height: 60px;
                a {
                    @include mix.estilizaTexto(var.$cor-fonte-primaria, 1);
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                        color: var.$cor-destaque;
                    }
                }
            }
        }
    }
}

.content_sect {
    .neofascismo {
        &--title {
            @include mix.estilizaTitulo(var.$cor-fonte-primaria, 1);
            margin-bottom: 4%;
        }

        .content_neofascismo {
            display: flex;
            align-items: flex-start;
            gap: 3%;

            &--img {
                margin-top: 20px;
            }

            &--text {
                @include mix.estilizaTexto(var.$cor-fonte-primaria, 1);
                width: 80%;
            }
        }
        
    }
}

/* --- Seção de caracteristicas --- */
.caracteristicas{
    .caracteristicas--titulo{
        @include mix.estilizaTitulo(var.$cor-destaque, 1);
        margin-bottom: 1em;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
        justify-content: space-around;
        .container-caracteristica{
            width: 23%;
            margin-bottom: 2em;
            position: relative;
            .container-caracteristica--imagem{
                border-radius: 10px;
                width: 100%;
            }
            .container-caracteristica--titulo{
                position: absolute;
                bottom: 0;
                background-color: white;
                width: 100%;
                height: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                .titulo{
                    @include mix.estilizaTexto(var.$cor-fonte-primaria, 1);
                }
            }
        }
    }
}

/* --- Seção final --- */
// .content_sect {
//     .content_container {
//         border-radius: 30px;
//         background-color: var.$cor-fonte-primaria;
        
//         .content_container--title {
//             h2 {
//                 border-top-left-radius: 30px;
//                 border-top-right-radius: 30px;
//                 background-color: #845AE78C;
//                 padding: 2%;

//                 @include mix.estilizaTitulo(var.$cor-fonte-primaria, 1);
//             }
//         }

//         .content_container--text {
//             padding: 5%;
//             p {
//                 @include mix.estilizaTexto(var.$cor-fonte-secundaria, 1)
//             }
//         }
//     }
// }

// Tablet
@media screen and (max-width: 1200px){
    // Seção inicial
    .initial_sect {    
        .initial_sect--text {
            p {
                @include mix.estilizaTexto(var.$cor-fonte-primaria, 1.5);
            }
        }
    
        .initial_sect--img {
            width: 60%;
        }
    }
    
    /* --- Seção de conteudo --- */
    .content_sect {
        width: 80vw;      
        margin-left: 10%;  
        .content {            
            &--title {
                @include mix.estilizaSubTitulo(var.$cor-fonte-secundaria, 1.5);
            }

            &--text {
                @include mix.estilizaTexto(var.$cor-fonte-secundaria, 1.5);
            }
        }

        .side_bar {

            .side_bar--title {
                @include mix.estilizaSubTitulo(var.$cor-fonte-primaria, 1.5)
            }

            .lista {
                .lista--item {
                    a {
                        @include mix.estilizaTexto(var.$cor-fonte-primaria, 1.5);
                    }
                }
            }
        }
    }

    // Seção de caracteristicas
    .caracteristicas{
        width: 86vw;
        .caracteristicas--titulo{
            @include mix.estilizaTitulo(var.$cor-destaque, 1.5);
        }

        .cards{
            .container-caracteristica{
                width: 45%;

                .container-caracteristica--imagem{
                    width: 100%;
                }
                .container-caracteristica--titulo{
                    .titulo{
                        @include mix.estilizaTexto(black, 1.5);
                    }
                }
            }
        }
    }

    // Seção neofascismo
    .content_sect {
        .neofascismo {
            &--title {
                @include mix.estilizaTitulo(var.$cor-fonte-primaria, 1.5);
            }

            .content_neofascismo {
                &--text {
                    @include mix.estilizaTexto(var.$cor-fonte-primaria, 1.5);
                }
            }
            
        }
    }

    
    // Seção final
    // .content_sect {
    //     .content_container {
            
    //         .content_container--title {
    //             h2 {
    //                 @include mix.estilizaTitulo(var.$cor-fonte-primaria, 1.5);
    //             }
    //         }

    //         .content_container--text {
    //             p {
    //                 @include mix.estilizaTexto(var.$cor-fonte-secundaria, 1.5);
    //                 margin-bottom: 1em;
    //             }
    //         }
    //     }
    // }

}

// Media querry intermediario
@media screen and (max-width: 900px) {
        /* --- Seção de conteudo --- */
        .initial_sect {    
            .initial_sect--img {
                width: 45%;
                margin-left: 40%;
            }
        }
        .content_sect{
            margin-left: 8%;
            .side_bar {
                .lista {
                    margin-top: 6%;
                    .lista--item {
                        line-height: 40px;
                    }
                }
            }
        }
}

// Celular
@media screen and (max-width: 520px){
        // Seção inicial
        .initial_sect {    
            .initial_sect--text {
                top: 24%;
                left: 10%;
                p {
                    @include mix.estilizaTexto(var.$cor-fonte-primaria, 2);
                }
                
            }
        
            .initial_sect--img {
                width: 45%;
                margin-left: 40%;
            }
        }
    
    /* --- Seção de conteudo --- */
    .content_sect {   
        .content {
            margin-top: 4%;
            width: 90%;
            .content--text {
            @include mix.estilizaTexto(var.$cor-fonte-secundaria, 2.25);
            }
        }
        .side_bar {
            width: 90%;
            .side_bar--title {
                @include mix.estilizaSubTitulo(var.$cor-fonte-primaria, 1.5)
            }
            .lista {
                list-style-type: disc;
                margin-top: 5px;
                padding-left: 7%;
    
                // Estiliza bolinhas
                color: var.$cor-destaque;
                font-size: var.$tamanho-texto;
    
                .lista--item {
                    a {
                        @include mix.estilizaTexto(var.$cor-fonte-primaria, 1.5);
                        text-decoration: none;
    
                        &:hover {
                            text-decoration: underline;
                            color: var.$cor-destaque;
                        }
                    }
                }
            }
        }
    }



    // Caracteristicas
    .caracteristicas{
        .cards{
            display: flex;
            flex-direction: column;
            padding-left:3%;
            .container-caracteristica{
                width: 90%;
                .container-caracteristica--imagem{
                    width: 100%;
                }
            }
        }
    }

        
    // Seção final
    // .content_sect {
    //     .content_container {
    //         .content_container--title {
    //             h2 {
    //                 padding: 10%;
    //                 @include mix.estilizaTitulo(var.$cor-fonte-primaria, 2.5);
    //             }
    //         }

    //         .content_container--text {
    //             p {
    //                 @include mix.estilizaTexto(var.$cor-fonte-secundaria, 1.5);
    //             }
    //         }
    //     }
    // }
}