@use '../abstract/variaveis' as var;
@mixin estilizaTitulosCards() {
    font-weight: 700;
    font-size: var.$tamanho-titulo-rodape;
    margin-bottom: 1em;
    color: var.$cor-fonte-primaria;
}

.rodape{
    background-color: 
    #363636;
    display: flex;
    justify-content: space-around;
    padding: 2em 1em;
    .card-sobre-nos{
        .card-sobre-nos--titulo{
            @include estilizaTitulosCards();
        }
        width: 29%;
        .paragrafo--sobre-nos{
            font-weight: 700;
            font-size: var.$tamanho-texto-rodape;
            color: var.$cor-fonte-primaria;
        }
        #copyRight{
            margin: 2em 0;
        }
    }
    .card-liks-referencia{
        width: 29%;
        .card-liks-referencia--titulo{
            @include estilizaTitulosCards();
        }
        .lista--links-referencia{
            .lista--item{
                margin: 0.2em;
                .lista--link{
                    text-decoration: none;
                    color: var.$cor-fonte-primaria;
                    font-size: var.$tamanho-texto-rodape;
                }
            }
        }
    }
    .card-contato{
        width: 29%;
        position: relative;
        .card-contato--titulo{
            @include estilizaTitulosCards();
        }
        .input{
            background-color: var.$cor-input;
            border: 0;
            width: 72%;
            border-radius: 10px;
            margin: 0.5em;
            &::placeholder{
                color: var.$cor-fonte-primaria;
                font-weight: 500;
                font-size: var.$tamanho-texto-rodape;
            }
            padding: 0.75em;
        }
        .input-email{
            height: 2em;
        }
        .input-mensagem{
            height: 6em;
        }
        .botao-envia{
            display: block;
            background-color: var.$cor-destaque;
            position: absolute;
            left: 50%;
            padding: 0.5em 1.5em;
            border-radius: 10px;
            color:var.$cor-fonte-primaria;
            font-weight: 600;
            border: 0;
        }
    }
}

@media screen and (max-width: 900px){
    .rodape{

        
        .card-contato{
            .card-contato--titulo{
                font-size: 28px;
            }
        }
        .card-liks-referencia{
            .card-liks-referencia--titulo{
                font-size: 28px;
            }
            .lista--links-referencia{
                .lista--item{
                    .lista--link{
                        font-size: 10px;
                    }
                    .seta{
                        width: 6%;
                    }
                }
            }
        }
        .card-sobre-nos{
            .card-sobre-nos--titulo{
                font-size: 28px;
            }
            .paragrafo--sobre-nos{
                font-weight: 500;
                font-size: 10px;
                line-height: 12.5px;
            }
        }
    }
}
@media screen and (max-width: 480px){
    .rodape{
        padding: 2em 1em;
        .cards{
            .cards--titulo{
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 1em;;
            }
        }
        flex-direction: column;
        gap: 0.75em;
        .card-contato{
            width: 100%;
            margin-top: 1em;
            .input{
                width: 80%;
                margin: 0.5em 0;
            }
            .botao-envia{
                left: 60%;
            }
        }
        .card-liks-referencia{
            width: 100%;
            .lista--links-referencia{
                .lista--item{
                    margin: 0em;
                    .lista--link{
                        font-size: 10px;
                    }
                    .seta{
                        width: 6%;
                    }
                }
            }
        }
        .card-sobre-nos{
            width: 95%;
            .paragrafo--sobre-nos{
                font-weight: 500;
                font-size: 10px;
                line-height: 12.5px;
            }
        }
    }
}