@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap");
html, body {
  font-family: "Quicksand", sans-serif;
  background-color: #FEF8E6;
}

body {
  overflow-x: hidden;
}

.cabecalho {
  height: 55px;
  background-color: #FEEBB2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cabecalho .navegacao {
  margin: auto;
}
.cabecalho .navegacao .navegacao--lista {
  display: flex;
  align-items: center;
  gap: 10%;
}
.cabecalho .navegacao .navegacao--lista .lista--item .item--link {
  text-decoration: none;
  color: #64510D;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.cabecalho .navegacao .navegacao--lista .lista--item .item--link:hover {
  color: #DCA2AD;
}
.cabecalho .cabecalho__botao {
  display: none;
}

@media screen and (max-width: 900px) {
  /*.cabecalho{
      overflow: hidden;
      .navegacao{
          .navegacao--lista{
              .lista--item{
                  .item--link{
                  font-size: var.$tamanho-item-tablet;
                  }
              }
          }
      }
  }*/
  .cabecalho {
    display: initial;
  }
  .cabecalho .cabecalho__botao {
    display: initial;
    background-color: #FEF8E6;
    border: 0;
  }
  .cabecalho .cabecalho__botao::after {
    content: "☰";
    color: #64510D;
    font-size: 40px;
  }
  .cabecalho .navegacao {
    display: none;
  }
  .cabecalho--ativo {
    transition: all 1000ms ease;
    width: 50%;
  }
  .cabecalho--ativo .navegacao {
    display: initial;
    height: 0;
  }
  .cabecalho--ativo .navegacao .navegacao--lista {
    flex-direction: column;
    align-items: start;
    gap: 1em;
    margin-left: 10px;
  }
}
@media screen and (max-width: 480px) {
  /*.header {
      display: none;
      background-color: black;
      padding-left: 28%;
      top: -50px;
      &--title {
          @include mix.estilizaTitulo(var.$cor-fonte-primaria, 2);
      }
  }*/
  .container1 .navegacao .navegacao--lista .lista--item {
    margin: 5px;
  }
}
#Home {
  display: flex;
}

/* --- Seção do inicio da pagina --- */
.initial_sect {
  width: 100%;
  position: relative;
  margin-bottom: 5%;
}
.initial_sect .initial_sect--text {
  width: 40%;
  display: inline-block;
  position: absolute;
  left: 20%;
  top: 40%;
}
.initial_sect .initial_sect--text p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #64510D;
}
.initial_sect .initial_sect--img {
  border-radius: 100%;
  width: 35%;
  max-width: 800px;
  background: #FFF0F0;
  margin-left: 50%;
  margin-top: 5%;
}

/* --- Seção de conteudo --- */
.content_sect {
  width: 88vw;
  margin-bottom: 10%;
  margin-left: 5%;
}
.content_sect .content {
  display: inline-block;
  width: 50%;
  padding: 5%;
  background-color: white;
  border-radius: 30px;
}
.content_sect .content--title {
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: #222121;
}
.content_sect .content--text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #222121;
}
.content_sect .side_bar {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  margin-top: 5%;
  margin-left: 4%;
}
.content_sect .side_bar .side_bar--title {
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: #64510D;
}
.content_sect .side_bar .lista {
  list-style-type: disc;
  margin-top: 30px;
  padding-left: 10%;
  color: #DCA2AD;
  font-size: 1.5rem;
}
.content_sect .side_bar .lista .lista--item {
  line-height: 60px;
}
.content_sect .side_bar .lista .lista--item a {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #64510D;
  text-decoration: none;
}
.content_sect .side_bar .lista .lista--item a:hover {
  text-decoration: underline;
  color: #DCA2AD;
}

.content_sect .tema--title {
  font-size: 3.5rem;
  line-height: 3.8rem;
  font-weight: 600;
  color: #DCA2AD;
  margin-bottom: 4%;
}
.content_sect .tema .content_tema {
  display: flex;
  align-items: flex-start;
  gap: 3%;
}
.content_sect .tema .content_tema--img {
  margin-top: 20px;
}
.content_sect .tema .content_tema--text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #64510D;
  width: 80%;
}

/* --- Seção de protagonistas --- */
.protagonistas .protagonistas--titulo {
  font-size: 3.5rem;
  line-height: 3.8rem;
  font-weight: 600;
  color: #DCA2AD;
  margin-bottom: 1em;
}
.protagonistas .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: space-around;
}
.protagonistas .cards .container-protagonistas {
  width: 23%;
  margin-bottom: 2em;
  position: relative;
}
.protagonistas .cards .container-protagonistas .container-protagonistas--imagem {
  border-radius: 10px;
  width: 100%;
}
.protagonistas .cards .container-protagonistas .container-protagonistas--titulo {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.protagonistas .cards .container-protagonistas .container-protagonistas--titulo .titulo {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #64510D;
}

/* --- Seção final --- */
@media screen and (max-width: 1200px) {
  .initial_sect .initial_sect--text p {
    font-size: 1rem;
    line-height: 1.3333333333rem;
    font-weight: 600;
    color: #64510D;
  }
  .initial_sect .initial_sect--img {
    width: 60%;
  }
  /* --- Seção de conteudo --- */
  .content_sect {
    width: 80vw;
    margin-left: 10%;
  }
  .content_sect .content--title {
    font-size: 1.4666666667rem;
    line-height: 1.6666666667rem;
    font-weight: 600;
    color: #222121;
  }
  .content_sect .content--text {
    font-size: 1rem;
    line-height: 1.3333333333rem;
    font-weight: 600;
    color: #222121;
  }
  .content_sect .side_bar .side_bar--title {
    font-size: 1.4666666667rem;
    line-height: 1.6666666667rem;
    font-weight: 600;
    color: #64510D;
  }
  .content_sect .side_bar .lista .lista--item a {
    font-size: 1rem;
    line-height: 1.3333333333rem;
    font-weight: 600;
    color: #64510D;
  }
  .protagonistas {
    width: 86vw;
  }
  .protagonistas .protagonistas--titulo {
    font-size: 2.3333333333rem;
    line-height: 2.5333333333rem;
    font-weight: 600;
    color: #DCA2AD;
  }
  .protagonistas .cards .container-protagonistas {
    width: 45%;
  }
  .protagonistas .cards .container-protagonistas .container-protagonistas--imagem {
    width: 100%;
  }
  .protagonistas .cards .container-protagonistas .container-protagonistas--titulo .titulo {
    font-size: 1rem;
    line-height: 1.3333333333rem;
    font-weight: 600;
    color: black;
  }
  .content_sect .tema--title {
    font-size: 2.3333333333rem;
    line-height: 2.5333333333rem;
    font-weight: 600;
    color: #DCA2AD;
  }
  .content_sect .tema .content_tema--text {
    font-size: 1rem;
    line-height: 1.3333333333rem;
    font-weight: 600;
    color: #64510D;
  }
}
@media screen and (max-width: 900px) {
  /* --- Seção de conteudo --- */
  .initial_sect .initial_sect--img {
    width: 45%;
    margin-left: 40%;
  }
  .content_sect {
    margin-left: 8%;
  }
  .content_sect .side_bar .lista {
    margin-top: 6%;
  }
  .content_sect .side_bar .lista .lista--item {
    line-height: 40px;
  }
}
@media screen and (max-width: 520px) {
  .initial_sect .initial_sect--text {
    top: 24%;
    left: 10%;
  }
  .initial_sect .initial_sect--text p {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    color: #64510D;
  }
  .initial_sect .initial_sect--img {
    width: 45%;
    margin-left: 40%;
  }
  /* --- Seção de conteudo --- */
  .content_sect .content {
    margin-top: 4%;
    width: 90%;
  }
  .content_sect .content .content--text {
    font-size: 0.6666666667rem;
    line-height: 0.8888888889rem;
    font-weight: 600;
    color: #222121;
  }
  .content_sect .side_bar {
    width: 90%;
  }
  .content_sect .side_bar .side_bar--title {
    font-size: 1.4666666667rem;
    line-height: 1.6666666667rem;
    font-weight: 600;
    color: #64510D;
  }
  .content_sect .side_bar .lista {
    list-style-type: disc;
    margin-top: 5px;
    padding-left: 7%;
    color: #DCA2AD;
    font-size: 1.5rem;
  }
  .content_sect .side_bar .lista .lista--item a {
    font-size: 1rem;
    line-height: 1.3333333333rem;
    font-weight: 600;
    color: #64510D;
    text-decoration: none;
  }
  .content_sect .side_bar .lista .lista--item a:hover {
    text-decoration: underline;
    color: #DCA2AD;
  }
  .protagonistas .cards {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
  }
  .protagonistas .cards .container-protagonistas {
    width: 90%;
  }
  .protagonistas .cards .container-protagonistas .container-protagonistas--imagem {
    width: 100%;
  }
}
.rodape {
  background-color: #E8B92D;
  display: flex;
  justify-content: space-around;
  padding: 2em 1em;
}
.rodape .card-sobre-nos {
  width: 29%;
}
.rodape .card-sobre-nos .card-sobre-nos--titulo {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
}
.rodape .card-sobre-nos .paragrafo--sobre-nos {
  font-weight: 700;
  font-size: 20px;
  color: white;
}
.rodape .card-sobre-nos #copyRight {
  margin: 2em 0;
}
.rodape .card-liks-referencia {
  width: 29%;
}
.rodape .card-liks-referencia .card-liks-referencia--titulo {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
}
.rodape .card-liks-referencia .lista--links-referencia .lista--item {
  margin: 0.2em;
}
.rodape .card-liks-referencia .lista--links-referencia .lista--item .lista--link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.rodape .card-contato {
  width: 29%;
  position: relative;
}
.rodape .card-contato .card-contato--titulo {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
}
.rodape .card-contato .input {
  background-color: #FEEBB2;
  border: 0;
  width: 72%;
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.75em;
}
.rodape .card-contato .input::-moz-placeholder {
  color: #64510D;
  font-weight: 500;
  font-size: 20px;
}
.rodape .card-contato .input::placeholder {
  color: #64510D;
  font-weight: 500;
  font-size: 20px;
}
.rodape .card-contato .input-email {
  height: 2em;
}
.rodape .card-contato .input-mensagem {
  height: 6em;
}
.rodape .card-contato .botao-envia {
  display: block;
  background-color: #DCA2AD;
  position: absolute;
  left: 50%;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  color: #64510D;
  font-weight: 600;
  border: 0;
}

@media screen and (max-width: 900px) {
  .rodape .card-contato .card-contato--titulo {
    font-size: 28px;
  }
  .rodape .card-liks-referencia .card-liks-referencia--titulo {
    font-size: 28px;
  }
  .rodape .card-liks-referencia .lista--links-referencia .lista--item .lista--link {
    font-size: 10px;
  }
  .rodape .card-liks-referencia .lista--links-referencia .lista--item .seta {
    width: 6%;
  }
  .rodape .card-sobre-nos .card-sobre-nos--titulo {
    font-size: 28px;
  }
  .rodape .card-sobre-nos .paragrafo--sobre-nos {
    font-weight: 500;
    font-size: 10px;
    line-height: 12.5px;
  }
}
@media screen and (max-width: 480px) {
  .rodape {
    padding: 2em 1em;
    flex-direction: column;
    gap: 0.75em;
  }
  .rodape .cards .cards--titulo {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 1em;
  }
  .rodape .card-contato {
    width: 100%;
    margin-top: 1em;
  }
  .rodape .card-contato .input {
    width: 80%;
    margin: 0.5em 0;
  }
  .rodape .card-contato .botao-envia {
    left: 60%;
  }
  .rodape .card-liks-referencia {
    width: 100%;
  }
  .rodape .card-liks-referencia .lista--links-referencia .lista--item {
    margin: 0em;
  }
  .rodape .card-liks-referencia .lista--links-referencia .lista--item .lista--link {
    font-size: 10px;
  }
  .rodape .card-liks-referencia .lista--links-referencia .lista--item .seta {
    width: 6%;
  }
  .rodape .card-sobre-nos {
    width: 95%;
  }
  .rodape .card-sobre-nos .paragrafo--sobre-nos {
    font-weight: 500;
    font-size: 10px;
    line-height: 12.5px;
  }
}
.container {
  display: flex;
}
.container .container2 {
  width: 100%;
  margin-top: 3em;
}
.container .container2 main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-right: 2%;
}
.container .container2 main .container-imagem {
  position: relative;
  width: 45%;
  margin-bottom: 2em;
  transition: width 2s;
  animation-duration: 3s;
  animation-name: fadein;
}
.container .container2 main .container-imagem:hover {
  width: 50%;
}
.container .container2 main .container-imagem .container-imagem--imagem {
  /*border-top-right-radius: 5px;
  border-top-left-radius: 5px;*/
  border-radius: 10px;
  width: 100%;
}
.container .container2 main .container-imagem .container-imagem--descricao {
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  background-color: #DCA2AD;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}
.container .container2 main .container-imagem .container-imagem--descricao .descricao--texto {
  font-weight: 400;
  font-size: 24px;
  color: #64510D;
  width: 60%;
  margin: 0 auto;
}
.container .container2 main .container-imagem .container-imagem--descricao .descricao--titulo {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
  color: #64510D;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    margin-top: 2em;
  }
  .container .container2 main .container-imagem .container-imagem--descricao .descricao--texto {
    font-size: 13px;
  }
  .container .container2 main .container-imagem .container-imagem--descricao .descricao--titulo {
    font-size: 20px;
  }
}
@media screen and (max-width: 520px) {
  .container {
    justify-content: center;
  }
  .container .container2 {
    margin-top: 2em;
  }
  .container .container2 main {
    flex-direction: column;
    gap: 1.5em;
  }
  .container .container2 main .container-imagem {
    height: 45%;
    margin-bottom: 1em;
    width: 90%;
    margin-left: 3%;
  }
  .container .container2 main .container-imagem .descricao--texto {
    font-size: 12px;
  }
}
.container {
  display: flex;
}
.container .container2 {
  width: 80%;
  margin: 4em auto;
}
.container .container2 main {
  gap: 2%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .container .container2 {
    margin: auto;
  }
  .container .container2 main {
    flex-direction: column;
  }
}
.container .container2 main .card-informacoes {
  margin-bottom: 2em;
  width: 25%;
  transition: width 2s;
  animation-duration: 3s;
  animation-name: slidein;
}
.container .container2 main .card-informacoes:hover {
  width: 29%;
}
.container .container2 main .card-informacoes .card-informações--imagem {
  width: 90%;
  border-radius: 100%;
}
.container .container2 main .card-informacoes .card-informacoes--lista .lista--item {
  color: #64510D;
  margin: 0.5em 0;
  display: flex;
  align-items: center;
}
.container .container2 main .card-informacoes .card-informacoes--lista .lista--item .item--imagem {
  width: 30px;
}
@keyframes slidein {
  0% {
    transform: translatey(-150%);
  }
  100% {
    transform: translatey(0);
  }
}

@media screen and (max-width: 900px) {
  .container .container2 main .card-informacoes {
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  .container .container2 main .card-informacoes {
    width: 90%;
    margin: 1em auto 2em 3em;
  }
  .container .container2 main .card-informacoes .card-informações--imagem {
    width: 90%;
  }
}
.contato {
  width: 85%;
  margin: 0 auto 2em auto;
}
.contato .titulo {
  font-size: 30px;
  color: #64510D;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.contato .formulario {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.contato .formulario .input {
  width: 28%;
  height: 3em;
  background-color: #FEEBB2;
  border-radius: 10px;
  border-width: 0;
  padding-left: 1em;
  padding-right: 1em;
}
.contato .formulario .input::-moz-placeholder {
  color: #64510D;
  font-weight: 500;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
.contato .formulario .input::placeholder {
  color: #64510D;
  font-weight: 500;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
.contato .formulario .gostou {
  width: 31%;
}
.contato .formulario .gostou .label-gostou {
  color: #64510D;
}
.contato .formulario .gostou .input-gostou {
  color: #64510D;
}
.contato .formulario .input-email {
  background-color: #FEEBB2;
  border-radius: 10px;
  border-width: 0;
  padding-left: 1em;
  padding-right: 1em;
  height: 3em;
  width: 62%;
}
.contato .formulario .input-email::-moz-placeholder {
  color: #64510D;
  font-weight: 500;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
.contato .formulario .input-email::placeholder {
  color: #64510D;
  font-weight: 500;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
.contato .formulario #mensagem {
  background-color: #FEEBB2;
  border-radius: 10px;
  border-width: 0;
  padding-left: 1em;
  padding-right: 1em;
  width: 95%;
}
.contato .formulario #mensagem::-moz-placeholder {
  color: #64510D;
  font-weight: 500;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
.contato .formulario #mensagem::placeholder {
  color: #64510D;
  font-weight: 500;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
.contato .formulario .botao-submit {
  width: 30%;
  margin-left: 68%;
  background-color: #DCA2AD;
  height: 2.5em;
  border-radius: 10px;
  border-width: 0;
  color: #64510D;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .contato {
    width: 100%;
    margin-right: 2em;
  }
  .contato .formulario .input {
    width: 24%;
  }
  .contato .formulario .gostou {
    width: 100%;
  }
  .contato .formulario .input-email {
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  .contato .formulario {
    gap: 1em;
  }
  .contato .formulario .input {
    width: 90%;
    height: 2em;
  }
}/*# sourceMappingURL=style.css.map */