@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
html, body {
  font-family: "Quicksand", sans-serif;
  background-color: #1C1C1C;
}

.container1 {
  display: flex;
  gap: 1em;
  flex-direction: column;
  width: 5vw;
}
.container1 .navegacao {
  transform: rotate(90deg);
}
.container1 .navegacao .navegacao--lista {
  display: flex;
}
.container1 .navegacao .navegacao--lista .lista--item {
  margin: 12px;
}
.container1 .navegacao .navegacao--lista .lista--item .item--link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 36px;
  text-transform: uppercase;
}
.container1 .navegacao .navegacao--lista .lista--item .item--link:hover {
  color: rgba(132, 90, 231, 0.5490196078);
}

/*@media screen and (max-width: 880px){
    .container1{
        max-width: 8vw;
    }
}*/
@media screen and (max-width: 900px) {
  .container1 {
    width: 10vw;
  }
  .container1 .navegacao .navegacao--lista .lista--item .item--link {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .container1 {
    width: 8vw;
  }
  .container1 .navegacao .navegacao--lista .lista--item {
    margin: 5px;
  }
  .container1 .navegacao .navegacao--lista .lista--item .item--link {
    font-size: 13px;
  }
}
#Home {
  display: flex;
}

/* --- Seção do inicio da pagina --- */
.initial_sect {
  width: 100vw;
  height: 90vh;
  position: relative;
}
.initial_sect .initial_sect--text {
  width: 40%;
  display: inline-block;
  position: absolute;
  left: 20%;
  top: 20%;
  z-index: 1;
}
.initial_sect .initial_sect--text h1 {
  font-size: clamp(1.7rem, 3rem, 96px);
  font-weight: 600;
  line-height: clamp(2.2rem, 3.5rem, 120px);
  color: #FFFFFF;
  margin-left: 7%;
}
.initial_sect .initial_sect--text p {
  text-align: center;
  margin-top: 15%;
  font-size: clamp(1.3rem, 1.7rem, 36px);
  font-weight: 600;
  line-height: clamp(1.7rem, 2.2rem, 45px);
  color: #FFFFFF;
}
.initial_sect .initial_sect--img {
  border-radius: 100%;
  width: 45%;
  max-width: 800px;
  background: radial-gradient(rgba(132, 90, 231, 0.8784313725) 25%, rgba(132, 90, 231, 0.6196078431) 40%, #1C1C1C 71%);
  position: absolute;
  left: 50%;
  top: 10%;
}

/* --- Seção de conteudo --- */
.content_sect {
  width: 90vw;
  margin-top: 50px;
}
.content_sect .content {
  display: inline-block;
  width: 50%;
  padding: 5%;
  background-color: #FFFFFF;
  border-radius: 30px;
}
.content_sect .content--title {
  font-size: clamp(1.5rem, 2.7rem, 64px);
  font-weight: 600;
  line-height: clamp(2rem, 3rem, 80px);
  color: #1E1E1E;
}
.content_sect .content--text {
  margin-top: 50px;
  font-size: clamp(1.3rem, 1.7rem, 36px);
  font-weight: 600;
  line-height: clamp(1.7rem, 2.2rem, 45px);
  color: #1E1E1E;
}
.content_sect .side_bar {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  margin-top: 5%;
  margin-left: 4%;
}
.content_sect .side_bar .side_bar--title {
  font-size: clamp(1.5rem, 2.7rem, 64px);
  font-weight: 600;
  line-height: clamp(2rem, 3rem, 80px);
  color: #FFFFFF;
}
.content_sect .side_bar .lista {
  list-style-type: disc;
  margin-top: 50px;
  padding-left: 20%;
  color: rgba(132, 90, 231, 0.5490196078);
  font-size: clamp(1.3rem, 1.7rem, 36px);
}
.content_sect .side_bar .lista .lista--item {
  line-height: 60px;
}
.content_sect .side_bar .lista .lista--item a {
  font-size: clamp(1.3rem, 1.7rem, 36px);
  font-weight: 600;
  line-height: clamp(1.7rem, 2.2rem, 45px);
  color: #FFFFFF;
}

/* --- Segunda seção de conteudo --- */
.content_sect .content2--title {
  font-size: clamp(1.7rem, 3rem, 96px);
  font-weight: 600;
  line-height: clamp(2.2rem, 3.5rem, 120px);
  color: #FFFFFF;
}
.content_sect .content2 div .content2--text {
  font-size: clamp(1.3rem, 1.7rem, 36px);
  font-weight: 600;
  line-height: clamp(1.7rem, 2.2rem, 45px);
  color: #FFFFFF;
}

.rodape {
  background-color: #363636;
  display: flex;
  justify-content: space-around;
  padding: 3em 1em;
}
.rodape .card-sobre-nos {
  width: 29%;
}
.rodape .card-sobre-nos .card-sobre-nos--titulo {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 1em;
  color: #FFFFFF;
}
.rodape .card-sobre-nos .paragrafo--sobre-nos {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.rodape .card-sobre-nos #copyRight {
  margin: 2em 0;
}
.rodape .card-liks-referencia {
  width: 29%;
}
.rodape .card-liks-referencia .card-liks-referencia--titulo {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 1em;
  color: #FFFFFF;
}
.rodape .card-liks-referencia .lista--links-referencia .lista--item {
  margin: 0.2em;
}
.rodape .card-liks-referencia .lista--links-referencia .lista--item .lista--link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
}
.rodape .card-contato {
  width: 29%;
  position: relative;
}
.rodape .card-contato .card-contato--titulo {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 1em;
  color: #FFFFFF;
}
.rodape .card-contato .input {
  background-color: rgba(217, 199, 199, 0.1490196078);
  border: 0;
  width: 72%;
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.75em;
}
.rodape .card-contato .input::-moz-placeholder {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
}
.rodape .card-contato .input::placeholder {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
}
.rodape .card-contato .input-email {
  height: 2em;
}
.rodape .card-contato .input-mensagem {
  height: 6em;
}
.rodape .card-contato .botao-envia {
  display: block;
  background-color: rgba(132, 90, 231, 0.5490196078);
  position: absolute;
  left: 50%;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 600;
  border: 0;
}

@media screen and (max-width: 480px) {
  .rodape {
    padding: 2em 1em;
    flex-direction: column;
    gap: 0.75em;
  }
  .rodape .cards .cards--titulo {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 1em;
  }
  .rodape .card-contato {
    width: 100%;
    margin-top: 1em;
  }
  .rodape .card-contato .input {
    width: 80%;
    margin: 0.5em 0;
  }
  .rodape .card-contato .botao-envia {
    left: 60%;
  }
  .rodape .card-liks-referencia {
    width: 100%;
  }
  .rodape .card-liks-referencia .lista--links-referencia .lista--item {
    margin: 0em;
  }
  .rodape .card-liks-referencia .lista--links-referencia .lista--item .lista--link {
    font-size: 10px;
  }
  .rodape .card-liks-referencia .lista--links-referencia .lista--item .seta {
    width: 6%;
  }
  .rodape .card-sobre-nos {
    width: 95%;
  }
  .rodape .card-sobre-nos .paragrafo--sobre-nos {
    font-weight: 500;
    font-size: 10px;
    line-height: 12.5px;
  }
}
.container {
  display: flex;
}
.container .container2 {
  width: 100%;
  margin-top: 4em;
}
.container .container2 main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-right: 2%;
}
.container .container2 main .container-imagem {
  position: relative;
  width: 45%;
  margin-bottom: 2em;
  transition: width 2s;
  animation-duration: 3s;
  animation-name: fadein;
}
.container .container2 main .container-imagem:hover {
  width: 50%;
}
.container .container2 main .container-imagem .container-imagem--imagem {
  width: 100%;
}
.container .container2 main .container-imagem .container-imagem--descricao {
  position: absolute;
  bottom: 0;
  background-color: rgba(132, 90, 231, 0.2745098039);
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.container .container2 main .container-imagem .container-imagem--descricao .descricao--texto {
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  width: 60%;
  margin: 0 auto;
}
.container .container2 main .container-imagem .container-imagem--descricao .descricao--titulo {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .container .container2 main .container-imagem .container-imagem--descricao .descricao--texto {
    font-size: 12px;
  }
  .container .container2 main .container-imagem .container-imagem--descricao .descricao--titulo {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    justify-content: center;
  }
  .container .container2 {
    margin-top: 2em;
  }
  .container .container2 main {
    flex-direction: column;
    gap: 1.5em;
  }
  .container .container2 main .container-imagem {
    margin-bottom: 1em;
    width: 90%;
    margin-left: 3%;
  }
  .container .container2 main .container-imagem .descricao--texto {
    font-size: 16px;
  }
  .container .container2 main .container-imagem .descricao--titulo {
    font-size: 24px;
  }
}
.container {
  display: flex;
}
.container .container2 {
  width: 80%;
  margin: 4em auto;
}
.container .container2 main {
  gap: 2%;
  display: flex;
  flex-wrap: wrap;
}

/*@media screen and (max-width: 900px){
    .container{
        .container2{
            main{
                .container-imagem{
                    .container-imagem--descricao{
                        .descricao--texto{
                            font-size: 12px;
                        }
                        .descricao--titulo{
                            font-size: 20px;
                        }
                    }
                }
            }

        }
    }
}*/
@media screen and (max-width: 480px) {
  .container .container2 {
    margin: 1em auto 2em 3em;
  }
  .container .container2 main {
    flex-direction: column;
  }
}
.container .container2 main .card-informacoes {
  margin-bottom: 2em;
  width: 25%;
  transition: width 2s;
  animation-duration: 3s;
  animation-name: slidein;
}
.container .container2 main .card-informacoes:hover {
  width: 29%;
}
.container .container2 main .card-informacoes .card-informações--imagem {
  width: 90%;
  border-radius: 100%;
}
.container .container2 main .card-informacoes .card-informacoes--lista .lista--item {
  color: #FFFFFF;
  margin: 0.5em 0;
  display: flex;
  align-items: center;
}
.container .container2 main .card-informacoes .card-informacoes--lista .lista--item .item--imagem {
  width: 30px;
}
@keyframes slidein {
  0% {
    transform: translatey(-150%);
  }
  100% {
    transform: translatey(0);
  }
}

@media screen and (max-width: 900px) {
  .container .container2 main .card-informacoes {
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  .container .container2 main .card-informacoes {
    width: 90%;
  }
  .container .container2 main .card-informacoes .card-informações--imagem {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */