@use '../abstract/variaveis' as var;

.initial_sect {
    width: 100vw;
    height: 70vh;
    color: var.$cor-fonte-primaria;
    position: relative;

    .initial_sect--text {
        width: 40%;
        display: inline-block;
        
        position: absolute;
        left: 25%;
        top: 30%;

        // Para ficar na frente da imagem
        z-index: 1;
        font-weight: var.$peso-fonte;

        h1 {
            font-size: var.$tamanho-titulo;
            margin-left: 7%;
        }

        p {
            text-align: center;
            margin-top: 10%;

            line-height: var.$tamanho-linha;
            font-size: var.$tamanho-texto;
        }
    }

    .initial_sect--img {
        border-radius: 100%;
        width: 45%;
        max-width: 800px;
        background: radial-gradient(#845AE7E0 25%, #845AE79E 40%, var.$cor-de-fundo 71%);

        position: absolute;
        left: 55%;
        top: 20%;
    }
}