@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

//Fonte
$fonte:'Quicksand', sans-serif;
$peso-fonte: 600;
// Texto
$tamanho-texto: clamp(1.3rem,1.7rem,36px);
$tamanho-linha: clamp(1.7rem,2.2rem,45px);
// Titulo
$tamanho-titulo: clamp(1.7rem,3rem,96px);
$tamanho-linha-titulo: clamp(2.2rem,3.5rem,120px);
// Subtitulo
$tamanho-subtitulo: clamp(1.5rem,2.7rem,64px);
$tamanho-linha-subtitulo: clamp(2rem,3rem,80px);

// Cores
$cor-de-fundo: #1C1C1C;
$cor-fonte-primaria: #FFFFFF;
$cor-fonte-secundaria: #1E1E1E;
$cor-destaque: #845AE78C;
$cor-destaque-background: #845ae746;


