@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

//Fonte
$fonte:'Quicksand', sans-serif;
$peso-fonte: 600;
// Texto
$tamanho-texto: 1.5rem;
$tamanho-linha: 2rem;
// Titulo
$tamanho-titulo: 3.5rem;
$tamanho-linha-titulo: 3.8rem;
// Subtitulo
$tamanho-subtitulo: 2.2rem;
$tamanho-linha-subtitulo: 2.5rem;

// Cores
$cor-de-fundo: #1C1C1C;
$cor-fonte-primaria: #FFFFFF;
$cor-fonte-secundaria: #1E1E1E;
$cor-destaque: #845AE78C;
$cor-destaque-background: #845ae78f;
$cor-input:#D9C7C726;


//rodape
$tamanho-titulo-rodape: 40px;
$tamanho-texto-rodape: 20px;

//menu lateral 
//$tamanho-item-celular:;
//$tamanho-item-tablet:;
