@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

//fonte
$fonte:'Quicksand', sans-serif;
$tamanho-titulo: 96px;
$tamanho-texto: 36px;
$peso-fonte: 600;
$tamanho-linha: 45px;

// Cores
$cor-de-fundo: #1C1C1C;
$cor-fonte-primaria: #FFFFFF;
$cor-fonte-secundaria: #1E1E1E;
$cor-destaque: #845AE78C;
